body {
    margin-top: 200px;
    padding: 0;
    background: #5087a9;
}

form {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.margin {
    margin-right: 150px;
}

.Name {
    color: #2a2828;
    margin-bottom: 50px;


}

.row {
    margin-bottom: 5px;
}

label {
    display: inline-block;
    width: 100px;
    font-size: 15px;
}



input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + .checkbox {
    background-color: black;
}

.checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 15px;
    transition: 1s;
}


button {
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    width: 40%;
}

